.details-box{
    width: 94vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    border: 1px dotted rgb(227, 215, 215);
    border-radius: 10px;
}
.left{
    flex: 0 0 40%;
}
.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.right {
    display: flex;
    flex-direction: column;
    gap:2.5vh;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 1vw 2vh;
}
.right p,h2,div{
    padding: 0;margin: 0;
}
.name{
    font-size: 1.7rem;
}
.label{
    font-size: 1.0rem;
    font-weight:200;
    color:rgb(117, 119, 120)
}
.item{
    font-size: 1.0rem;
    font-weight:200;
    color:rgb(117, 119, 120)
}
.btn{
    width:20vw;
    height:10vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
.btn hover{
    color: black;
    background-color: #fff;
}