<div class="hero-container">
    <img src="https://downloadbrochures.com/master_images/Asbl%20Spectra/Spectra_Landing_Image.webp" class="hero-image" />
  
    <div class="hero-overlay">
      <h1 class="hero-title">ASBL PROJECTS</h1>
      <p class="hero-subtitle">Premium Real-Estate developments built with Quality, Trust, and Innovation !!!</p>
      <span class="subtitle">Customer-Centric Homes for BETTER LIVING.</span>
      <p class="subtitle">Robust Construction Technology for TIMELY DELIVERY..</p>
      <p class="subtitle">We, at ASBL, Make Homes That Stay True to YOUR NEEDS...</p>
    </div>
</div>
  
  
  
  <!-- <div class="header-container">
    <div class="blue-box">
        <div class="box-content">
            <span class="one">ASBL</span>
            <span class="two">PROJECTS</span>
            <div class="line"></div>
        </div>
    </div>
    <div class="info-box">
        <div class="info-content">
            <span class="title">Customer-Centric Homes for BETTER LIVING</span>
            <p class="subtitle">Robust Construction Technology for TIMELY DELIVERY</p>
            <p class="subtitle">We, at ASBL, Make Homes That Stay True to YOUR NEEDS</p>
            <!-- <div class="stats">
                <div class="card">
                    <div clas="card-content">
                        <div class="number">3</div>
                        <div class="label">Completed</div>
                    </div>
                </div>
            <div class="card">
                    <div class="card-content"></div>
                        <div class="number">4</div>
                        <div class="label">Ongoing</div>
                    </div>
            </div>
            <div class="card">
                    <div class="card-content">
                        <div class="number">1000+</div>
                        <div class="label">Beneficiaries</div>
                    </div>
            </div> 
        </div>
    </div>
</div> -->
