.header-container{
    width: 94vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    gap:1vw;
    align-items: center;
    justify-content: center;
    color: white;

}
.blue-box{
    width:40%;
    height: 100%;
    background: linear-gradient(135deg, #2563EB, #1D4ED8, #0B2EA4);
    border-radius: 10px;
}
.box-content{
    display: flex;
    flex-direction: column;
    padding:3vw 3vh;
    justify-content:center;
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
}
.two{
    color:rgba(255, 255, 255, 0.5);
}
.line{
    margin-top: 12px;
    width: 10vw;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;  
}

.info-box{
    width: 58%;
    height: 100%;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    color: black;
    background: #e8ffec;
}
.info-content{
    padding: 2vw 2vh;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.info-content p{
    padding: 0;
    margin: 0;
}
.title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #222;
  }
  
.subtitle {
    font-weight: 400;
    font-size: 1.0rem;
    color: #555;
  }
.stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: black;
    color:white;
    width:10%;
    height:10%;
}
.card-content{
    padding: 1vw 1vh;
    display: flex;
    flex-direction: row;
}
.number{
    align-items: center;
}
.label{
    font-family: poppins "sans-serif";
    font-size:0.7rem;
}